*{
    box-sizing: border-box;
}
body{
    display: flex;
    background-color: rgb(221, 219, 219);
}
#title,
#subtitle,
h2,
#img-div{
    text-align: center;
    background-size: contain;
}
#img-div{
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#image{
    
    max-width: 100%;
    height: auto;
    display: block;
}
ul{
    font-family: 'Times New Roman', Times, serif;
}
footer{
    text-align: center;
    margin-top: 20px;
}